<body>
  <div class="course-registration-section">
    <!-- <div class="back-to-chat-container">
      <a href="index.html" class="back-to-chat-link">
        <i class="fas fa-arrow-left back-arrow"></i> Quay lại
      </a>
    </div> -->

    <br />
    <div class="section-header">
      <div class="header-line"></div>
      <h3>Danh sách học phần</h3>
    </div>

    <div class="course-table-container">
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã học phần</th>
            <th>Tên học phần</th>
            <th>TC</th>
            <th>Học phí</th>
            <th></th>
            <th><i class="fas fa-info-circle info-icon"></i></th>
          </tr>
        </thead>
        <tbody id="course-table-body">
          <tr class="no-data-row" style="display: none">
            <td colspan="7">Không có dữ liệu</td>
          </tr>
        </tbody>

        <!-- <tbody>
            <tr>
              <td>1</td>
              <td>INT3001</td>
              <td>Lập trình Mạng</td>
              <td>3</td>
              <td>890.000 VNĐ</td>
              <td><button class="register-button">Đăng ký</button></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>INT3002</td>
              <td>An toàn thông tin</td>
              <td>3</td>
              <td>890.000 VNĐ</td>
              <td><button class="register-button">Đăng ký</button></td>
              <td></td>
            </tr>
            <tr class="no-data-row" style="display: none">
              <td colspan="7">Không có dữ liệu</td>
            </tr>
          </tbody> -->
      </table>
    </div>
  </div>
  <script src="/templates/static/js/Courses.js"></script>
</body>
